<!DOCTYPE html>
<html>
<head>
	<title>Show gossip</title>
</head>
<body>
	<h1>
		PAGE POTIN	
	</h1>
	<h2>Voici la page potin n°: <%=index+1%> </h2>

	<p>Son auteur : <%=gossip.author%></p>
	<p>Le contenu du potin : <%=gossip.content%>
	<a href="/gossips/<%=index%>/edit/">  Editer</a>
	</p>
	<a href="/">Revenir à l'acceuil</a>

</body>
</html>