<!DOCTYPE html>
<html>
<head>
	<title>Creer un potin</title>
</head>
<body>
	<form action='/gossips/new/' method="POST">
		Saisi ton nom<input type="text" name="Author">
		<br/><br/>
		Balance ton potin<input type="text" name="Content">
		<br/><br/>
		<input type="submit" value="Valider">
	</form>
</body>
</html>